<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true">
    <Filter type="ThresholdFilter" level="trace"/>
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout">
                <Pattern>%d | %5p | [%t] (%F:%L) | %m%n</Pattern>
            </Layout>
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>